<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<body style="margin: 0; padding: 0;">
<table style="width:800px;border-collapse:collapse;">
<tr>
<td style="background-color:#0b0c0c;"><img src="cid:govuk" alt="">
</td>
</tr>
  <tr>
    <td>

<h1 style="font-family:nta, Arial, sans-serif;font-size: 3.2em;line-height: 1.04167;font-weight: 700;text-transform: none;">Payment to register a death abroad</h1>

<h2 style="font-family:nta, Arial, sans-serif;font-size: 1.5em;line-height: 1.04167;font-weight: bold;text-transform: none;">Authorisation for payment taken</h2>

<p style="font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Thank you for your order from the Foreign & Commonwealth Office. We have taken pre-authorisation for the following:</p>


<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Date: <%= date %></p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Payment Reference: <%= merchantReference %></p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Service: <%= slug %></p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Number of items: <%= dc %></p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Amount: &pound;<%= pa %></p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Card type: <%= paymentMethod %></p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Card number: XXXX XXXX XXXX <%= lastFourDigits %></p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">You have paid for <%= deathRegistrations %> and <%= certificates %> and postage coverage to <%= postage %>.</p>


<p style="font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">When we have confirmed we can provide the service we will take the payment and send you a receipt.</p>


<h2 style="font-family:nta, Arial, sans-serif;font-size: 1.5em;line-height: 1.04167;font-weight: bold;text-transform: none;">What to do next</h2>

<ul>
	<li style="font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">write the payment reference on your application form</li>
	<li style="font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">print out this email or the payment confirmation page and include it with your application</li>
</ul>

<p style="font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">If you're in the UK then send your application form and documents to:</p>

<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Overseas Registration Unit</p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Foreign &amp; Commonwealth Office</p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">PO Box 6255</p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Milton Keynes</p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">MK10 1XX</p>
  
<p style="font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">If you're abroad then send your application form and documents to:</p>
  
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Overseas Registration Unit</p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Foreign &amp; Commonwealth Office</p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Hanslope Park</p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Hanslope</p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">Milton Keynes</p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">MK19 7BH</p>
<p style="text-indent: 25px;font-family:nta, Arial, sans-serif; font-size:1em; line-height:1.31579; font-weight:50 text-transform:none;">United Kingdom</p>

	</td>
  </tr>
</table>
</body>